<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.sheca.umee"
    android:versionCode="29"
    android:versionName="4.2.2">

    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <!-- 真做摄像功能时，需要音频录制和视频录制功能，所以又需要下面两项权限声明 -->
    <uses-permission android:name="android.permission.RECORD_VIDEO" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.RESTART_PACKAGES" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.BATTERY_STATS" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!--  -->
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />
    <uses-permission android:name="android.permission.MANAGE_FINGERPRINT" />
    <uses-permission android:name="cn.org.ifaa.permission.USE_IFAA_MANAGER" />


    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />


    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />

    <uses-sdk tools:overrideLibrary="com.ifaa.sdk,com.esandinfo.etas" />
    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <application
        android:name="com.sheca.umee.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppThemeNoBack"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning">


        <activity
            android:name="com.sheca.umee.LaunchActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.sheca.umee.GuideActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name="com.sheca.umee.FaceGuideActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/UniTrustTheme" />
        <activity
            android:name="com.sheca.umee.MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoBack" />

        <activity
            android:name="com.sheca.umee.LogsActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/UniTrustTheme" />
        <activity
            android:name="com.sheca.umee.LogActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/UniTrustTheme" />
        <activity
            android:name="com.sheca.umee.LoginActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name="com.sheca.umee.PasswordActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/UniTrustTheme"
            android:windowSoftInputMode="adjustPan|stateVisible" />
        <activity
            android:name="com.sheca.umee.AccountActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/UniTrustTheme" />
        <activity
            android:name="com.sheca.umee.CertDownloadActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/UniTrustTheme" />
        <activity
            android:name="com.sheca.umee.HotlineActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/UniTrustTheme" />
        <activity
            android:name="com.sheca.umee.FAQsActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/UniTrustTheme" />
        <activity
            android:name="com.sheca.umee.FAQActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/UniTrustTheme" />
        <activity
            android:name="com.sheca.umee.MeChatActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/UniTrustTheme" />
        <activity
            android:name="com.sheca.umee.AboutActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/UniTrustTheme" />
        <activity
            android:name="com.sheca.umee.GetRandomNumberActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/UniTrustTheme" />
        <activity
            android:name="com.sheca.umee.SettingGuideActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/UniTrustTheme" />
        <activity
            android:name="com.sheca.umee.SettingLaunchActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/UniTrustTheme" />
        <activity
            android:name="com.sheca.umee.SettingVersionActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/UniTrustTheme" />
        <activity
            android:name="com.sheca.umee.DaoActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="true"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/UniTrustTheme"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.sheca.umee.DaoScanActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="true"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="adjustPan|stateVisible" />
        <activity
            android:name="com.sheca.umee.RegAccountActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/UniTrustTheme"
            android:windowSoftInputMode="adjustResize|stateVisible" />
        <activity
            android:name="com.sheca.umee.MySettingsActivityNew"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/UniTrustTheme" />
        <activity
            android:name="com.sheca.umee.SettingCertTypeActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/UniTrustTheme" />
        <activity
            android:name="com.sheca.umee.SettingSaveTypeActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/UniTrustTheme" />
        <activity
            android:name="com.sheca.umee.SettingLogUploadTypeActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/UniTrustTheme" />
        <activity
            android:name="com.sheca.umee.SettingFingerTypeActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/UniTrustTheme" />

        <activity
            android:name="com.sheca.umee.SettingIFAAFaceTypeActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/UniTrustTheme" />

        <activity
            android:name="com.sheca.umee.CertDetailActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/UniTrustTheme" />
        <activity
            android:name="com.sheca.umee.CertListActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/UniTrustTheme" />
        <activity
            android:name="com.sheca.umee.CertDeleteActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/UniTrustTheme" />
        <activity
            android:name="com.sheca.umee.CertChangePwdActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/UniTrustTheme"
            android:windowSoftInputMode="adjustPan|stateVisible" />
        <activity
            android:name="com.sheca.umee.CertRenewActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/UniTrustTheme"
            android:windowSoftInputMode="adjustPan|stateVisible" />
        <activity
            android:name="com.sheca.umee.CertRevokeActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/UniTrustTheme"
            android:windowSoftInputMode="adjustPan|stateVisible" />
        <activity
            android:name="com.sheca.umee.CertRenameActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/UniTrustTheme"
            android:windowSoftInputMode="adjustPan|stateVisible" />
        <activity
            android:name="com.sheca.umee.CertResetActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/UniTrustTheme"
            android:windowSoftInputMode="adjustPan|stateVisible" />
        <activity
            android:name="com.sheca.umee.CertCashActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/UniTrustTheme"
            android:windowSoftInputMode="adjustPan|stateVisible" />
        <activity
            android:name="com.sheca.umee.CertUnlockActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/UniTrustTheme"
            android:windowSoftInputMode="adjustPan|stateVisible" />
        <activity
            android:name="com.sheca.umee.DaoFaceActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/UniTrustTheme" />
        <activity
            android:name="com.sheca.umee.UserProtocolActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/UniTrustTheme" />
        <activity
            android:name="com.sheca.umee.ForgetPasswordActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/UniTrustTheme" />
        <activity
            android:name="com.sheca.umee.ForgetPasswordValidActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/UniTrustTheme" />
        <activity
            android:name="com.sheca.umee.SetPasswordActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/UniTrustTheme"
            android:windowSoftInputMode="adjustPan|stateVisible" />
        <activity
            android:name="com.sheca.umee.ManualCheckActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/UniTrustTheme" />
        <activity
            android:name="com.sheca.umee.ManualCheckFailActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/UniTrustTheme" />

        <activity
            android:name="com.sheca.umee.GestureSettingActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/UniTrustTheme" />
        <activity
            android:name="com.sheca.umee.LocalPasswordActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/UniTrustTheme" />
        <activity
            android:name="com.sheca.umee.ValidateGestureActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/UniTrustTheme" />
        <activity
            android:name="com.sheca.umee.SetGuestureActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/UniTrustTheme" />

        <activity
            android:name=".PayActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/UniTrustTheme" />
        <activity
            android:name=".DownlaodCertActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/UniTrustTheme" />
        <activity
            android:name=".ApplyCertRequestActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/UniTrustTheme" />
        <activity
            android:name=".SettingsActivity"
            android:label="@string/app_name" />

        <activity
            android:name="com.sheca.umee.CSActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/UniTrustTheme" />
        <activity
            android:name=".CertPasswordActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/UniTrustTheme" />
        <activity
            android:name=".AddCertResultActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/UniTrustTheme" />


        <!-- 【必须】 (2.30及以上版新增)展示通知的activity -->
        <!-- 【必须】 exported设置为true -->
        <activity
            android:name="com.tencent.android.tpush.XGPushActivity"
            android:exported="true"
            android:theme="@android:style/Theme.Translucent">
            <intent-filter>

                <!-- 若使用AndroidStudio，请设置android:name="android.intent.action" -->
                <action android:name="android.intent.action" />
            </intent-filter>
        </activity>

        <service android:name=".service.UploadLogService" />

        <receiver android:name=".model.ReplaceBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REPLACED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <!-- 【必须】 信鸽receiver广播接收 -->
        <!--<receiver-->
            <!--android:name="com.tencent.android.tpush.XGPushReceiver"-->
            <!--android:process=":xg_service_v2">-->
            <!--<intent-filter android:priority="0x7fffffff">-->

                <!--&lt;!&ndash; 【必须】 信鸽SDK的内部广播 &ndash;&gt;-->
                <!--<action android:name="com.tencent.android.tpush.action.SDK" />-->
                <!--<action android:name="com.tencent.android.tpush.action.INTERNAL_PUSH_MESSAGE" />-->
                <!--&lt;!&ndash; 【必须】 系统广播：开屏和网络切换 &ndash;&gt;-->
                <!--<action android:name="android.intent.action.USER_PRESENT" />-->
                <!--<action android:name="android.net.conn.CONNECTIVITY_CHANGE" />-->

                <!--&lt;!&ndash; 【可选】 一些常用的系统广播，增强信鸽service的复活机会，请根据需要选择。当然，你也可以添加APP自定义的一些广播让启动service &ndash;&gt;-->
                <!--<action android:name="android.bluetooth.adapter.action.STATE_CHANGED" />-->
                <!--<action android:name="android.intent.action.ACTION_POWER_CONNECTED" />-->
                <!--<action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />-->
            <!--</intent-filter>-->
            <!--&lt;!&ndash; 【可选】 usb相关的系统广播，增强信鸽service的复活机会，请根据需要添加 &ndash;&gt;-->
            <!--<intent-filter android:priority="0x7fffffff">-->
                <!--<action android:name="android.intent.action.MEDIA_UNMOUNTED" />-->
                <!--<action android:name="android.intent.action.MEDIA_REMOVED" />-->
                <!--<action android:name="android.intent.action.MEDIA_CHECKING" />-->
                <!--<action android:name="android.intent.action.MEDIA_EJECT" />-->

                <!--<data android:scheme="file" />-->
            <!--</intent-filter>-->
        <!--</receiver>-->

        <!--&lt;!&ndash; 【必须】 信鸽service &ndash;&gt;-->
        <!--<service-->
            <!--android:name="com.tencent.android.tpush.service.XGPushService"-->
            <!--android:exported="true"-->
            <!--android:persistent="true"-->
            <!--android:process=":xg_service_v2" />-->

        <!--&lt;!&ndash; 【必须】 通知service，其中android:name部分要改为当前包名 &ndash;&gt;-->
        <!--<service-->
            <!--android:name="com.tencent.android.tpush.rpc.XGRemoteService"-->
            <!--android:exported="true">-->
            <!--<intent-filter>-->

                <!--&lt;!&ndash; 【必须】 请修改为当前APP名包.PUSH_ACTION，如demo的包名为：com.qq.xgdemo &ndash;&gt;-->
                <!--<action android:name="com.sheca.umandroid.PUSH_ACTION" />-->
            <!--</intent-filter>-->
        <!--</service>-->

        <!--&lt;!&ndash; 【必须】 请修改为APP的AccessId，“21”开头的10位数字，中间没空格 &ndash;&gt;-->
        <!--<meta-data-->
            <!--android:name="XG_V2_ACCESS_ID"-->
            <!--android:value="2100160239" />-->
        <!--&lt;!&ndash; 【必须】 请修改为APP的AccessKey，“A”开头的12位字符串，中间没空格 &ndash;&gt;-->
        <!--<meta-data-->
            <!--android:name="XG_V2_ACCESS_KEY"-->
            <!--android:value="A4XDQ3527QYN" />-->



        <activity
            android:name=".SMSLoginActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="adjustResize|stateHidden" />


        <activity
            android:name="com.sheca.umee.NetworkOnlineActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/UniTrustTheme"
            tools:ignore="DuplicateActivity" />
        <activity
            android:name="com.sheca.umee.NetworkSignActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name="com.sheca.umee.NetworkOnlineTestActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/UniTrustTheme"
            tools:ignore="DuplicateActivity" />
        <activity
            android:name="com.sheca.umee.SealPreviewActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/UniTrustTheme"
            android:windowSoftInputMode="adjustPan|stateVisible" />
        <activity
            android:name="com.sheca.umee.ApplySealActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />

        <activity
            android:name="com.sheca.umee.SaveSealActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/UniTrustTheme" />
        <activity
            android:name="com.sheca.umee.SealListActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/UniTrustTheme" />


        <!--UMPlus-->
        <activity
            android:name="com.sheca.umplus.dao.MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.notAnimation"></activity>
        <activity
            android:name="com.sheca.umplus.activity.CaptureActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.sheca.umplus.activity.DaoActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.notAnimation"
            android:windowSoftInputMode="adjustPan"></activity>
        <activity
            android:name="com.sheca.umplus.activity.DaoScanActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="adjustPan|stateVisible"></activity>
        <activity
            android:name="com.junyufr.szt.activity.AuthMainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/UniTrustTheme"
            android:windowSoftInputMode="adjustPan|stateVisible"></activity>
        <activity android:name="com.junyufr.szt.activity.CameraViewActivity"></activity>
        <activity
            android:name="com.junyufr.szt.activity.AuthActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"></activity>
        <activity
            android:name="com.junyufr.szt.activity.ResultActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/UniTrustTheme"></activity>
        <activity
            android:name="com.junyufr.szt.activity.PictureActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"></activity>
        <activity
            android:name="com.facefr.activity.PictureActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/UniTrustTheme"></activity>
        <activity
            android:name="com.facefr.activity.AuthActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/UniTrustTheme"></activity>
        <activity
            android:name="com.facefr.activity.ResultActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/UniTrustTheme"></activity>


        <activity
            android:name="com.intsig.idcardscancaller.CardScanActivity"
            android:screenOrientation="portrait"></activity>
        <activity android:name="com.intsig.idcardscan.sdk.ISCardScanActivity"></activity>

        <activity android:name=".CertTestActivity" />

        <activity
            android:name=".SwitchServerActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/UniTrustTheme" />

        <activity
            android:name=".SealSignActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="true"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />

        <!--&lt;!&ndash; 用户自定义服务继承自GTIntentService,作为SDK与APP桥梁服务,用来接收各种消息和命令回复&ndash;&gt;-->
        <!--<service-->
            <!--android:name=".service.GeTuiIntentService"-->
            <!--android:permission="android.permission.BIND_JOB_SERVICE" />-->
        <!--&lt;!&ndash; 个推配置SDK核心服务 &ndash;&gt;-->
        <!--&lt;!&ndash; process必须指定为":pushservice"，切勿随意更改 &ndash;&gt;-->
        <!--<service-->
            <!--android:name=".service.GeTuiService"-->
            <!--android:exported="true"-->
            <!--android:label="PushService"-->
            <!--android:process=":pushservice"></service>-->
        <!--快捷签名-->
        <activity
            android:name=".QuickSignAcitvity"
            android:exported="false"
            android:screenOrientation="portrait" />


        <activity
            android:name="com.sheca.umplus.dao.MainFaceAuthActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.notAnimation"></activity>
        <!--单位认证_单位认证-->
        <activity
            android:name="com.sheca.umee.companyCert.CompanyCertifyStep2"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.sheca.umee.companyCert.CertSetPwdActivity"
            android:exported="false"
            android:screenOrientation="portrait"></activity>

        <!--<activity-->
            <!--android:name="com.sheca.umandroid.companyCert.album.PictureSelectorActivity"-->
            <!--android:exported="false"-->
            <!--android:screenOrientation="portrait"-->
            <!--android:windowSoftInputMode="adjustPan" />-->
        <!--<activity-->
            <!--android:name="com.sheca.umandroid.companyCert.album.PictureBaseActivity"-->
            <!--android:exported="false"-->
            <!--android:screenOrientation="portrait" />-->
        <!--<activity-->
            <!--android:name="com.sheca.umandroid.companyCert.album.PicturePreviewActivity"-->
            <!--android:exported="false"-->
            <!--android:screenOrientation="portrait" />-->

        <!--<activity-->
            <!--android:name="com.sheca.umandroid.companyCert.album.PictureExternalPreviewActivity"-->
            <!--android:exported="false"-->
            <!--android:screenOrientation="portrait" />-->

        <!--<activity-->
            <!--android:name="com.sheca.umandroid.companyCert.album.CameraActivity"-->
            <!--android:exported="false"-->
            <!--android:screenOrientation="portrait">-->
            <!--&lt;!&ndash;<intent-filter>&ndash;&gt;-->
            <!--&lt;!&ndash;<action android:name="com.yanyu.mio.intent.action.START_CAMERA" />&ndash;&gt;-->
            <!--&lt;!&ndash;<category android:name="android.intent.category.DEFAULT" />&ndash;&gt;-->
            <!--&lt;!&ndash;</intent-filter>&ndash;&gt;-->
        <!--</activity>-->

        <!--申请印章_选择证书-->
        <activity
            android:name="com.sheca.umee.companyCert.SealApplyStep3"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoBack" />


        <!--以下是V3.3界面-->

        <!--再次登录界面-->
        <activity
            android:name=".account.ReLoginActivityV33"
            android:screenOrientation="portrait"
            />

        <activity
            android:name=".account.LoginActivityV33"
            android:screenOrientation="portrait"
            />


        <activity
            android:name=".account.LoginActivityPWDV33"
            android:screenOrientation="portrait"
            />


        <activity
            android:name=".account.RegisterActivityV33"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible" />


        <activity
            android:name=".account.SetPwdActivityV33"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible" />


        <activity
            android:name=".account.SmsActivityV33"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible" />

        <activity
            android:name=".account.ValidateActivityV33"
            android:screenOrientation="portrait" />
        <!--忘记密码-->
        <activity
            android:name=".account.ForgetPwdActivityV33"
            android:screenOrientation="portrait" />
        <!--忘记密码-->
        <activity
            android:name=".account.ResetPwdActivityV33"
            android:screenOrientation="portrait" />



        <activity
            android:name=".MineActivity"
            android:theme="@style/UniTrustTheme"
            android:screenOrientation="portrait"></activity>


        <activity
            android:name=".CertManageActivity"
            android:theme="@style/UniTrustTheme"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".SealManageActivity"
            android:theme="@style/UniTrustTheme"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".CertResultActivity"
            android:theme="@style/UniTrustTheme"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".SealDownloadActivity"
            android:theme="@style/UniTrustTheme"
            android:screenOrientation="portrait" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>


    </application>

</manifest>